/* body {
  background-image: url(Undertale-Together.png);
  margin: 0%;
  display: flex;
  flex-direction: column;
  background-size: 1920px 1080px;
} */

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  height: 1000px;
}

#title {
  color: white;
  font-size: 35px;
  font-family: Impact;
  margin-right: -50px;
  cursor: pointer;
}

.link-decoration {
  text-decoration: none;
  color: blue;
  font-size: 30px;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

#ruins {
  color: #b962b9;
}

#snowdin {
  color: #85a3d8;
}

#waterfall {
  color: #05edfb;
}

#hotland {
  color: #fa1100;
}

#core {
  color: #142063;
}

#newHome {
  color: #ad6bb1;
}


#ruins {
  color: purple;
}

.seniorContainer {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

#searchInput {
  outline: none;
  width: 800px;
  height: 60px;
  font-size: 35px;
  border: none;
  box-shadow: 0 0 20px #05c3e2;
  border: 2px solid rgb(0, 183, 255);
  background: none;
  color: rgb(0, 183, 255);
}

#travelButton {
  width: 100px;
  height: 65px;
  margin-left: 10px;
  outline: none;
  background-color: #f000;
  border: 2px solid rgb(0, 183, 255);
  color: rgb(0, 183, 255);
  box-shadow: 0 0 10px rgb(0, 183, 255);
}
