body {
    background-color: black;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    width: 800px;
    height: 500px;
}

#comments {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: aliceblue;
}