body {
    background-color: black;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentContainer{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

#imageContainer{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

#image {
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

#comments {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: aliceblue;
}

#apiContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}