.dark {
    background-color: rgb(0, 0, 0);
}

.whitecolor{
    color: red;
}
#cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0%;
    color: white;
}

.user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 270px;
}

#comment {
    color: white;
}

body {
    background-color: rgb(255, 255, 255);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 200px;
    justify-content: space-between;
    height: 50px;
}

#image {
    width: 400px;
    height: 300px;
    border-radius: 30px;
}

#description {
    color: wheat;
}

#comment {
    width: 300px;
    color: aliceblue;
}

#userPic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#name {
    color: wheat;
}

.profile {
    display: flex;
    align-items: center;
    width: 400px;
    height: 70px;
    border-radius: 30px;
}