.theBigBoi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    background-color: black;
}

.theSmallerBigBoi {
    width: 500px;
}

#question{
    text-align: center;
}

#pic {
    width: 500px;
    height: 400px;
}

.question{
    display: flex;
    flex-direction: column;
}

#answers {
    display: flex;
    justify-content: space-around;
}

#answer {
    border: 1px solid black;
    
}

*{
    color: white;
}

html, body {margin: 0; overflow: hidden}